@model DateTimeFormViewModel

    <div class="container mt-5">
        <h2>Date Time Form</h2>
    <form asp-controller="Delete" asp-action="DeleteDataSubmit" method="post">
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="datetime-local" class="form-control" id="startDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" required />
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="datetime-local" class="form-control" id="endDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" required />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

<script>
    $(document).ready(function () {

    @if (TempData.ContainsKey("success"))
    {
        var message = TempData["success"];
        var messageType = "success";
        <text>showPopUpMessage("@message", "@messageType"); </text>
    }
    });
</script>